* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    font-family: "sagoe", sans-serif;
    background-color: #FFEEF4;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    float: center;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.Signup {
    background-color: #f7206b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Signup:hover {
    letter-spacing: 1px;
}

.account p a{
    text-decoration: none;
}

.account p a:hover{
    text-decoration: underline;
}

/* Social media sign-up buttons */
.btn-Signup {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-Signup:hover {
    background-color: #f5f5f5;
}

/* Term styles */
.term {
    font-size: 12px;
    margin-top: 10px;
}

.term a {
    color: #007bff;
    text-decoration: none;
}
