*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "sagoe", sans-serif;
}

.header {
    width: 100%;
    font-size: 25px;
    text-align:justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEEF4;
    padding: 25px 50px;
    position: fixed;
}

.menu-logo{
    width:50px;
    word-spacing: 25px;
}

.search-product{
    width:600px;
    padding:0px;
}

.search-product input{
    width: 90%;
    height: 30px;
}

.search-product button{
    width: 30px;
    height: 30px;
}

.icon-header{
    width: 65px;
    padding:0px;
    letter-spacing: 1px;
    font-size: medium;
}


div ul{
    padding:50px;
    float: left;
    background-color: #FFEEF4;
    align-items: center;
    z-index: 100;
}

div ul.hidden{
    display: none;
}

ul li a{
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    
}
  
ul li a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

.new-arrival{
    margin-top: 100px;
    z-index:0
}


@media(max-width: 768px){
    .header {
        font-size: 20px;
    }
    
    .menu-logo{
        width:140px;
    }
    
    .search-product{
        width:550px;
    }
    
    .icon-header{
        width:100px;
        letter-spacing: 2px;
    }

    .icon-header a:hover{
        font-size: 20.5px;
    }
}

@media(max-width: 426px){
    .header {
        width: 100%;
        font-size: 14px;
        padding: 12px 20px;
    }
    
    .menu-logo{
        width:80px;
        word-spacing: 1px;
    }
    
    .search-product{
        width:150px;
    }
    
    .search-product input{
        width: 83%;
        height: 20px;
    }
    
    .search-product button{
        width: 20px;
        height: 20px;
    }
    
    .icon-header{
        width:70px;
        letter-spacing: 3px;
    }

    .icon-header a:hover{
        font-size: 14.5px;
    }
}


.container{
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 400px; 
    padding-right: 5px; 
    padding-left:  15px; 
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    float: center;
    top: 50%;
    left: 35%;
    height: 350px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.container h2{
    padding-top: 20px;
    padding-left: 5px;
    border-spacing: 75px;
}

.form-group input{
    width: 365px;
    padding: 5px 9px;
    margin: 7px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid black;
}

.Signup{
    background-color: #FFEEF4;
    width: 355px;
    margin: 10px;
    padding: 7px;
    border: none;
    margin-bottom: 0px;
}

a:link{
    text-decoration: none;
}

.btn-Signup{
    background-color: white;
    width: 165px;
    margin: 10px;
    padding: 5px;
    font-size: medium;
    border: 1px solid black;
}

.account p{
    line-height: 25px;
}

.term{
    font-size: 15px;
}




  /* Footer */
  footer{
    padding: 3rem 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin-bottom: 0px;
    font-size: 12px;
    position: absolute;
    top: 100%;
}

.img-payment input{
    width: 80px;
    height: 25px;
}

.img-download input{
    width:140px;
    height:40px;
}


@media(max-width: 426px){
/* Footer */
footer{
    padding: 3rem 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin-bottom: 0px;
    font-size: 8px;

}

.img-payment input{
    width: 40px;
    height: 15px;
}

.img-download input{
    width:90px;
    height:30px;
}
}