*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.header {
    width: 100%;
    font-size: 25px;
    text-align:justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEEF4;
    padding: 15px 50px;
    position: fixed;
    z-index: 1000;
}

.header img{
    height: 70px;
}

.search-product {
    display: flex;
    align-items: center;
    width: 300px; 
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
  }
  

.search-product input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
  
.search-product button {
    background-color:#f7206b;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}
  
.search-product button i {
    font-size: 18px;
}
  
.icon-header{
    width:150px;
    padding:0px;
    letter-spacing: 12px;
}

.icon-header a:hover{
    font-size: 25.5px;
}

.menu-section ul{
    padding:50px;
    float: left;
    background-color: #FFEEF4;
    align-items: center;
    z-index: 100;
    position: absolute;
}

div ul.hidden{
    display: none;
}

.menu-section ul li a{
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    
}
  
.menu-section ul li a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

section{
    padding: 2rem 9%;
}

.promo{
    background-color: #d9d9d996;
}

#slide{
    display:flex;
    gap: 2rem;
    padding-top: 9rem;
    justify-content: center;
}

.content {
    flex: 1 1 45rem;
    align-items: center;
}

.image-promo img{
    align-items: center;
    justify-items: center;
    width: fit-content;
    height: fit-content;
}

.content span{
    color: #f7206b;
    font-size: 1.5rem;
    font-weight: bold;
}

.content h3{
    font-size: 3rem;
}

.content p{
    color:rgba(0, 0, 0, 0.5); 
    font-size: 1.2rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem;
    color: black;
    background:#f5dae3;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 2rem ;
}

.btn:hover {
    background-color: #f7206b;
    letter-spacing: .1rem;
    color: white;
}

.swiper-slide img{
    display: flex;
    width: 600px;
    height: 350px;
}

.separator{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator hr{
    width: 40%;
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
}

.separator h4{
    color: #f7206b;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Hot Products */
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
}

.box img{
    width:10rem;
    height: 10rem;
}

#wishlist-icon{
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: .9rem;
    color: black;
    background:#f5dae3;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem .5rem ;
}

#wishlist-icon:hover{
    background-color: #f7206b;
    letter-spacing: .1rem;
    color: white;
}

.initial-price{
    text-decoration: line-through;
}

/* Benefit */
.benefit{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.box-benefit{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #191919;
    padding: 12px
}

.benefit-content{
    padding-left: 12px;
}

.benefit-content h6{
    font-size: 18px;
}

.benefit-content p{
    font-size: 15px;
}

.logo-benefit i{
    font-size: 50px;
    font-weight: bolder;
}

/* Order Page */
.order-page{
    display:flex;
    flex-direction: row;
}

.menu-order{
    flex-basis: 20%;
    margin-right: 12px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #FFEEF4;
    padding: 12px;
}

.menu-order ul {
    padding: 0;
}

.menu-order ul li a{
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    color: #191919;
    font-size: 20px;
    font-weight: medium;
}

.menu-order ul li a:hover{
    font-weight: bold;
}

.menu-order ul li a.active {
    text-decoration: none;
    font-weight: bold;
}
  
.my-order {
    flex-basis: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
  
.my-order h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
  
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
  
.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
  
.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}
  
.order-number,
.product-name,
.total-price,
.action,
.status {
    font-weight: bold;
}
  
.action a {
    text-decoration: none;
    color: blue;
}
  
.action a:hover {
    text-decoration: underline;
}
  
/* Wishlist Page */
.wishlist-page h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family:'Segoe UI', sans-serif;
    font-size: 25px;    
}

.wishlist-page .box-container .box{
    margin-bottom: 20px;
}

/* Confirm Order Page */
.confirm-order{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-details {
    flex-basis: 45%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.product-details img {
    max-width: 100%;
    height: auto;
}

.order-details {
    flex-basis: 50%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.order-details h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form textarea,
form input[type="email"],
form input[type="tel"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button.cancel-btn {
    background-color: #d9534f;
}

form button:hover {
    background-color: #0056b3;
}

/* Scrool Top Button */
.go-to-up{
    position: fixed;
    width: 50px;
    height: 50px;
    background:#f7206b;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 50%;
}

html{
    scroll-behavior: smooth;
}

/* Footer */
footer{
    padding: 3rem 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin-bottom: 0px;
}

.img-payment input{
    width: 90px;
    height: 30px;
}

.img-download input{
    width:150px;
    height:50px;
}


@media(max-width: 768px){
    .header {
        font-size: 20px;
    }
    
    .header img{
        height: 70px;
    }
    
    .icon-header{
        width:100px;
        letter-spacing: 2px;
    }

    .icon-header a:hover{
        font-size: 20.5px;
    }
    
    #slide {
        flex-wrap: wrap;
    }

    .separator hr{
        width: 35%;
    }
  
    /* Order Page */
    .order-page{
        display:flex;
        flex-direction: column;
    }

    /* Footer */
    footer{
        font-size: 12px;
    }
    
    .img-payment input{
        width: 80px;
        height: 25px;
    }

    .img-download input{
        width:140px;
        height:40px;
    }
}

@media(max-width: 426px){
    .header {
        width: 100%;
        font-size: 14px;
        padding: 12px 20px;
    }

    .header img{
        height: 40px;
    }
    
    .search-product{
        width:150px;
    }
    
    .search-product input{
        width: 83%;
        height: fit-content;
    }
    
    .icon-header{
        width:70px;
        letter-spacing: 3px;
    }

    .icon-header a:hover{
        font-size: 14.5px;
    }

    .btn{
        padding: .8rem 1.5rem ;
    }

    .swiper-slide img{
        display: flex;
        width: 300px;
        height: 175px;
    }

    .separator hr{
        width: 28%;
    }
    
    .separator h4{
        font-size: 12px;
    }

    /* Order Page */
    .order-page{
        display:flex;
        flex-direction: column;
    }

    .my-order {
        flex-basis: 100%;
        padding: 20px;
    }
      
    .my-order h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }
      
    .table {
        width: 100%;
        margin-top: 8px;
        font-size: 10px;
    }
      
    .table th,
    .table td {
        padding: 5px;
    }

    /* Footer */
    footer{
        font-size: 7.5px;
    }
    
    .img-payment input{
        width: 40px;
        height: 15px;
    }

    .img-download input{
        width:90px;
        height:30px;
    }
}
